html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

body {
    color: #fff;
    background-color: #000;
    @include circe-light;
}

html,
body {
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-wide {
    max-width: 1710px;
    padding: 0 15px;
    margin: 0 auto;
}