@import "fonts";
@import "vars";
@import "global";

//start header

.header {
    // background-image: url(../images/header-bg.png);
    background: linear-gradient(180deg, #000 2%, transparent 50%, #000 98%),
        url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    padding-top: 75px;
    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 84px;
    }
    &__title {
        @include oswald;
        font-size: 180px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        margin-bottom: 43px;
        span {
            display: inline-block;
            background: linear-gradient(180deg, #fff 36%,  rgba(#fff, 0.5) 63%, rgba(#fff, 0.0) 89%);
            // background: linear-gradient(180deg, #fff 40%,  rgba(#fff, 0.5) 60%, rgba(#fff, 0.0) 80%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &__description {
        font-size: 36px;
        line-height: 36px;
        text-transform: capitalize;
        margin-bottom: 65px;
    }
    &__bage {
        font-size: 15px;
        line-height: 15px;
        text-transform: uppercase;
        height: 278px;
        border-left: 1px solid #43494b;
        span {
            display: inline-block;
            padding-top: 15px;
            transform-origin: left top 0;
            transform: rotate(-90deg) translate(-100%, 0%);
        }
    }
}

.menu {
    display: flex;
    align-items: flex-start;
    &__list {
        ul {
            display: flex;
            margin-top: -3px;
        }
    }
    &__item {
        & + & {
            margin-left: 100px;
        }
        a {
            font-size: 15px;
            line-height: 15px;
            padding: 0 0 13px;
            border-bottom: 1px solid transparent;
            text-align:center;
            text-transform: uppercase;
            &:hover {
                border-bottom: 1px solid $gold;
                // text-shadow: 0 0 15.01px #fff;
                @include circe-ebold;
            }
            &::before {
                display: block;
                content: attr(title);
                @include circe-ebold;
                height: 0;
                overflow: hidden;
                visibility: hidden;
            }
        }
        &--active {
            a {
                border-bottom: 1px solid $gold;
                @include circe-ebold;
            }
        }
    }
    &__btn {
        display: none;
        cursor: pointer;
        margin-left: 65px;
        padding-left: 5px;
        padding-bottom: 3px;
        &-stripe {
            background-color: #fff;
            height: 1px;
            & + & {
                margin-top: 4px;
            }
            &--stripe1 {
                width: 13px;
            }
            &--stripe2 {
                width: 8px;
                margin-left: 5px;
            }
            &--stripe3 {
                width: 10px;
                margin-left: 3px;
            }
        }
    }
    &--footer {
        .menu {
            &__item {
                a {
                    padding: 0;
                    border: none;
                    transition: all 0.5s;
                    &:hover {
                        @include circe-light;
                        color: $gold;
                    }
                }
                &--active a {
                    @include circe-light;
                    color: $gold;
                }
            }
        }
    }
}


//end header
//start about

.about {
    // background-image: url(../images/about-bg.jpg);
    background: linear-gradient(180deg, #000 2%, transparent 50%, #000 98%),
        url(../images/about-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 48px;
    &__item {
        position: relative;
        z-index: 1; 
        min-height: 990px;
        padding-top: 70px;
        // & + & {
        //     margin-top: 70px;
        // }
        &-text {
            font-size: 24px;
            line-height: 50px;
            margin-bottom: 177px;
            letter-spacing: 0.025em;
            span {
                color: $gold;
            }
        }
        &-video {
            img {
                width: 900px;
                height: 560px;
                object-fit: cover;
                box-shadow: 0px 0px 111px 0px rgba(19, 19, 17, 0.5);
            }
            .plyr {
                max-width: 900px;
            }
            .plyr.plyr--stopped .plyr__controls { display: none }
        }
        &-aside-img {
            width: 555px;
            height: 990px;
            object-fit: cover;
        }
        &--third,
        &--first {
            .about {
                &__item-video {
                    .plyr,
                    img {
                        margin-left: auto;
                    }
                }
                &__item-aside-img {
                    position: absolute;
                    right: -430px;
                    top: 0;
                    z-index: -1;
                }
            }
        }
        &--second {
            .about {
                &__item-text {
                    margin-left: 293px;
                }
                &__item-aside-img {
                    position: absolute;
                    left: -430px;
                    top: -50px;
                    z-index: -1;
                }
            }
        }
    }
}

//end about
//start getting

.getting {

    &__inner {
        text-align: center;
        letter-spacing: 0.025em;
        padding-top: 180px;

    }
    &__title {
        font-size: 36px;
        line-height: 50px;
        margin-bottom: 25px;
    }
    &__description {
        font-size: 24px;
        line-height: 44px;
        color: $gold;
        margin-bottom: 135px;
    }
    &__slider {
        position: relative;
        &::after {
            content: "";
            width: 100%;
            height: 1px;
            position: absolute;
            background-color: #494845;
            left: 0;
            bottom: 0px;
            z-index: -1;
        }
    }
    &__item {
        width: 390px;
        height: 668px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        margin: 0 auto;
        outline: none;
        position: relative;
        transition: all 0.5s;
        &:after {
            content: "";
            width: 200px;
            height: 1px;
            background-color: transparent;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -45px;
            // z-index: 100;
            transition: all 0.5s;
        }
        &:hover {
            box-shadow: 0px 0px 45px 0px rgba(186, 168, 125, 0.2);
                .getting__item {
                    &-title {
                        @include circe-ebold;
                        color: $gold;
                    }
                    &-mask {
                        opacity: 0;
                        &2 {
                            opacity: 1;
                        }
                    }
                }
                &:after {
                    background-color: $gold;
                }
        }
        &-wrapper {
            height: 758px;
            width: 480px;
            padding-top: 45px;
            outline: none;
        } 
        &-mask3,
        &-mask2,
        &-mask {
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(96, 96, 96, 0.5) 2%, rgba(64, 64, 64, 0.4) 50%, rgba(0, 0, 0, 0.5) 80%, #000 98%);   
            transition: all 0.5s;
            opacity: 1;
            position: absolute;
            left: 0;
            top: 0;
        }
        &-mask2 {
            transition: all 0.5s;
            background: linear-gradient(180deg, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.5) 80%, #000 98%);
            opacity: 1;
        }
        &-title {
            max-width: 260px;
            width: 100%;
            font-size: 24px;
            line-height: 36px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 135px;
        }
    }
    // 390x668
    .slick-slide {
        width: 480px;
        &.slick-current {
            .getting__item {
                box-shadow: 0px 0px 45px 0px rgba(186, 168, 125, 0.2);
                &:after {
                    background-color: $gold;
                }
                &-title {
                    @include circe-ebold;
                    color: $gold;
                }
                &-mask {
                    opacity: 0;
                        // opacity: 1;
                }
            }
        }
    }
}

//end getting
//start footer

.footer {
    background-image: linear-gradient(180deg, #000 2%, transparent 20%, transparent 80%, #000 98%),
    url(../images/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &__logo {
        min-height: 100vh;
        background-image: url(../images/footer-logo.png);
        background-size:  auto;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__learn-btn {
        font-size: 24px;
        line-height: 111px;
        width: 335px;
        padding: 0 15px;
        text-transform: uppercase;
        text-align: center;
        border: 1px solid $gold;
        transition: all 0.5s;
        &:hover {
            background-color: rgba($gold, 0.5);
            color: #000;
        }
    }
    &__bottom {
        min-height: 100px;
        display: flex;
        justify-content: space-between;
    }
    &__languages ul {
        display: flex;
    }
    &__language {
        text-transform: uppercase;
        transition: all 0.5s;
        a {
            font-size: 15px;
            line-height: 21px;
        }
        & + & {
            margin-left: 35px;
        }
        &--active {
            color: $gold;
        }
        &:hover {
            color: $gold;
        }
    }
    &__socials {
        a {
            @include icomoon;
            font-size: 19px;
            line-height: 21px;
            color: #949493;
            transition: all 0.5s;
            &:hover {
                color: $gold;
            }
        }
        a + a {
            margin-left: 25px;
        }
    }
}

//end footer

@import 'media';